button {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;

  cursor: pointer;
  color: var(--foreground);

  span {
    padding: 5px;
  }

  .colorDiv {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
}
