@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: #ffffff;
  --text: #111111;
  --primary: #4f46e5;

  // Font Family
  --fontFamily-main: "Roboto", sans-serif;

  // Font sizes
  --fontSize-body: clamp(1rem, 2.6vw + 1rem, 1.125rem); // 18px - 16px
  --fontSize-h1: clamp(1.875rem, 2.6vw + 1rem, 3.75rem); // 50px - 30px
  --fontSize-h2: clamp(1.625rem, 2.6vw + 1rem, 2.25rem); // 36px - 26px
  --fontSize-h3: clamp(1.25rem, 2.6vw + 1rem, 1.625rem); // 26px - 20px
  --fontSize-h4: clamp(1.125rem, 2.6vw + 1rem, 1.375rem); // 18px- 22px

  // Various
  --borderRadius: 1.125rem;
  --borderRadius-small: 0.25rem;
  --borderRadius-button: 5px;
  --boxShadow: 0 2px 10px 0 rgba(29, 29, 27, 0.1);
  --textShadow: 0 3px 5px rgba(0, 0, 0, 0.25);

  // Layout of Grid
  --layoutGrid-content-width: 1380px;
  --layoutGrid-breakout-width: 1800px;
  --layoutGrid-spacing: clamp(1.375rem, 5vw - 0.25rem, 5rem);
  --layoutGrid-spacing-breakout: 22px;
}

/* LIGHT */
[data-theme="light"] {
  --background: #ffffff;
  --foreground: #18181b;

  --surface: #f4f4f5;
  --surface-secondary: #e4e4e7;

  --accent: #2563eb;
  --accent-foreground: #ffffff;

  --border: #d4d4d8;
}

/* DARK */
[data-theme="dark"] {
  --background: #242424;
  --foreground: #fafafa;

  --surface: #18181b;
  --surface-secondary: #27272a;

  --accent: #8b5cf6;
  --accent-foreground: #ffffff;

  --border: #3f3f46;
}

/* COLOR THEMES */
// ocean
[data-theme="theme-1"] {
  --background: #0f172a;
  --foreground: #f8fafc;

  --surface: #1e293b;
  --surface-secondary: #334155;

  --accent: #38bdf8;
  --accent-foreground: #082f49;

  --border: #475569;
}

// sakura
[data-theme="theme-2"] {
  --background: #fff1f2;
  --foreground: #4c0519;

  --surface: #ffe4e6;
  --surface-secondary: #fecdd3;

  --accent: #ff4d6d;
  --accent-foreground: #ffffff;

  --border: #fda4af;
}

// forest
[data-theme="theme-3"] {
  --background: #0f1f17;
  --foreground: #ecfdf5;

  --surface: #1b4332;
  --surface-secondary: #2d6a4f;

  --accent: #52b788;
  --accent-foreground: #081c15;

  --border: #40916c;
}

// coffe
[data-theme="theme-4"] {
  --background: #2b1d17;
  --foreground: #fff7ed;

  --surface: #3d2b1f;
  --surface-secondary: #5a3e2b;

  --accent: #d97706;
  --accent-foreground: #ffffff;

  --border: #7c573d;
}

//neon
[data-theme="theme-5"] {
  --background: #0a0a0f;
  --foreground: #faf5ff;

  --surface: #141420;
  --surface-secondary: #1f1f35;

  --accent: #c084fc;
  --accent-foreground: #240046;

  --border: #7e22ce;
}

/* GLOBAL */

body {
  background: var(--background);
  color: var(--foreground);

  transition:
    background 0.3s ease,
    color 0.3s ease;
}
