.dayCard {
  border: 1px solid black;
  display: inline-block;
  border-radius: 10px;
  min-width: 150px;
  min-height: 150px;

  .day {
    padding: 2px 10px 0 0;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
  }
}
.today {
  background-color: green;
  border: 1px solid green;
}
